 :root {
    --purple: #271C3E;
    --red: #E61D27;
    --blue: #01A7A8;
    --orange: #F28801;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  font-family:'Playfair Display', serif;
  font-weight: bold;
  color: #fff;
}

a {
  color: #fff;
}

footer {
  position: fixed;
  bottom: 5%;
}

.logo-container {
	position: fixed;
	height: 80px;
	width: 80px;
	top: 5px;
	left: 5px;
}

.grid-container {
    min-height: 250px;
    width: 90%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: .2fr 1fr auto 1fr .2fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
      "start quote quote quote stop"
      ". . author twitter ."
      ". . btn . .";
}

.text-container{
  grid-area: quote;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 10px 25px 0 30px;
  text-align: center;
}

.author-container{
  grid-area: author;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family:'Playfair Display', serif;
  font-size: 1.5em;
  text-align: center;
}

.twitter-link-container{
  grid-area: twitter;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  margin-left: 10%;
}

.fab{
  color: #fff;
  font-size: 1.5em;
}

.new-quote-btn{
  height: 40px;
  width: 175px;
  grid-area: btn;
  color: #fff;
  font-family:'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 auto 0 auto;
  border: 2px solid #fff;
}

.quote-mark {
  font-size: 6em;
  font-family:'Playfair Display', serif;
  font-weight: normal;
  margin: 0;
  align-self: center;
}

.quote-mark-start {
	grid-area: start;
}

.quote-mark-stop {
	grid-area: stop;
}

.credit{
  font-weight: normal;
  margin-top: 25px;
  text-align: center;
  font-size: .9em;
}

/*Start color change styles*/

.color-1{
  background-color: var(--purple);
}

.color-2{
  background-color: var(--red);
}

.color-3{
  background-color: var(--blue);
}

.color-4{
  background-color: var(--orange);
}


/* -------------- Spinner animation ---------------------- */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@media screen and (min-width: 768px){

  .grid-container{
    margin-top: 100px;
    max-width: 850px;
  }

  .text-container{
  	font-size: 1.5em;

  }
}