 :root {
    --black-ish: #1c110a;
    --white-ish: #E4D6A7;
    --yellow-ish: #E9B44C;
    --red-ish: #9B2915;
    --blue-ish: #50A2A7;
}

#root{
  display: flex;
  flex-direction: column;
  background: var(--black-ish);
  align-items: center;
  width: 100%
}

.grid-container {
    min-height: 300px;
    width: 90%;
    margin-top: 70px;
    border: 2px solid var(--white-ish);
    border-radius: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "quote quote quote"
      ". author author"
      "btn . tweet";
}

.text-container{
  grid-area: quote;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-ish);
  
}

.author-container{
  grid-area: author;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-ish);
}

.twitter-link-container{
  grid-area: tweet;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.new-quote-btn{
  grid-area: btn;
  background: yellow;
}

@media screen and (min-width: 768px){

  .grid-container{
    margin-top: 125px;
    max-width: 650px;
  }
}